<%= stylesheet_link_tag "constantPageStyle"%>

<div class="rec-stations-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox horizontal">
  <div class="ident"><%= station.identifier %></div>
  <div class="info" ><%= station.name %> (<%= station.address %>)</div>
  <div class="rent" ><%= link_to"#{station.docked_bikes.count} bikes", station, class:"bike_link" %> </div>
</div>
