<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title flexbox horizontal center">
      Look at all these stations! 
      <a class="toggle" href="<%= bikes_path %>">View Bikes</a>
    </div>  
    <div class="flexbox vertical stretch">
      <a class="toggle" href="<%= bikes_path %>">View Bikes</a>
      <% if @stations.present? %>
        <div class="record-row header flexbox horizontal justify-space-between">
          <% if params[:reverse].blank? || params[:reverse] == "0" %>
            <a href="<%= stations_path(params: [reverse:1])%>">Sort &#8595;</a>
          <% else %>
            <a href="<%= stations_path %>">Sort &#8593;</a>
          <% end %>
        </div>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
	</div>
</div>
