<!DOCTYPE html>
<html>
<head>
<style>

/* ul { /* this is for the left side floating nav bar*/
  /*list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  /*position: fixed; /* Make it stick, even on scroll */
  /*overflow: auto; /* Enable scrolling if the sidenav has too much content */
/*}*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #024686c5;
  position: fixed; /*fixes position at the top of the page*/
  top: 0;
  width: 100%;
  border: 4px solid #f8e750;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*for the page your mouse is on*/
li a:hover {
  background-color: #f8e750a4;
}

/*for the current page youre on*/
.active {
  background-color: #ffe600;
}

li {
  border-right: 4px solid #f8e750;
}

h1{
    text-align: center
}

h3 {
  text-align: center;
}

form{
    text-align: center;
}
</style>
</head>
<body>

<ul>
    <li><a href="home">Valley Bike </a></li>

    <li><a href="login">VB Login</a></li>

    <li><a href="help">Help</a></li>

    <li><a href="home">Contact Us</a></li>
</ul>

<div style="padding:20px; margin-top:150px; background-color:#78b4df7e; height:500px;">
    <h1>Sign Up</h1>
    <h3> Welcome to Valley Bike! To sign up for an account, please complete the following information:</h3>

    <%= form_with(model: @user, url: registrations_path, local: true, data: { turbo: false }) do |f| %>

      <div class="field">
        <%= f.label "First Name" %><br/>
        <%= f.text_field :fname %>
        <%= @user.errors[:fname].join(", ") if @user.errors[:fname].any? %>
      </div>

      <div class="field">
        <%= f.label "Last Name" %><br/>
        <%= f.text_field :lname %>
        <%= @user.errors[:lname].join(", ") if @user.errors[:lname].any? %>
      </div>

      <div class="field">
        <%= f.label :phone %><br/>
        <%= f.text_field :phone %>
        <%= @user.errors[:phone].join(", ") if @user.errors[:phone].any? %>
      </div>

      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <% if @user.errors[:email].any? %>
          <p>Email <%= @user.errors[:email].join(", ") %></p>
        <% end %>
      </div>

      <div class="field">
        <%= f.label "Password" %><br/>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @user.errors[:password].any? %>
          <p>Password <%= @user.errors[:password].join(", ") %></p>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit "Submit" %>
      </div>
    <% end %>
</div>
