<!--Logged in Nav Bar template. (Currently only used for map)-->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style = "background-color: #85C83E">
    <a class="dropdown-toggle fit-width" data-toggle="dropdown" href="#">Menu
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", user_path(@current_user.id)%></li>
          <li><a href="#">Search Bikes</a></li>
          <li><a href="/discounts">Discounts</a></li>
          <li><a href="#">Payment History</a></li>
          <li><a href="#">Analytics</a></li>
        </ul>
    </a>
    <ul class="navbar navbar-expand-lg navbar-light navbar-fixed-top navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user px-3 fit-width"></span> Switch Account</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in px-3 fit-width"></span></a>
      <%=link_to 'Log Out', new_session_path, method: :delete%></li>
    </ul>
    <!-- Button Images -->
    <button class="btn btn-outline-primary" type="button" id="Profile" aria-label="Profile Button">
    <%=link_to (image_tag 'profile.png', style: 'width: 50px; height: 40px;', alt: 'Profile'), user_path(@current_user.id)%>
    </button>

    <button class="btn btn-outline-primary" type="button" id="Search-bikes" aria-label="Search Bikes Button">
    <%=link_to (image_tag 'bike.jpg', style: 'width: 50px; height: 40px;', alt: 'Search bikes' ),bikes_path%>
    </button>

    <button class="btn btn-outline-primary" type="button" id="discounts" aria-label="Discounts Button">
    <%=link_to (image_tag 'discount.png', style: 'width: 50px; height: 40px;', alt: 'Discounts'), "/discounts"%>
    </button>
    <button class="btn btn-outline-primary" type="button" id="payment" aria-label="Prior Payment Button">
    <%= image_tag 'prior_payment.png', style: 'width: 50px; height: 40px;', alt: 'Prior Payment' %>
    </button>
    <button class="btn btn-outline-primary" type="button" id="analytics" aria-label="Analytics Button">
    <%= image_tag 'analytics.png', style: 'width: 50px; height: 40px;', alt: 'Analytics' %>
    </button>
    <!-- Collapse-able nav bar-->

    <%# <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Search Bikes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Discounts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Payments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Analytics</a>
          </li>
      </ul>
    </div> %>

  </nav>
