<div class = "new">
    <h2>Rental Form</h2>
    <!-- CHANGE TO TIME RECORDER -->
  
    <%= form_with(model: @rental, url: new_rental_path, local: true, data: { turbo: false }) do |f| %>
  
     <!--add in form with changes above ^ + flash alerts and jazz form new.html.erb form the sessions views.-->
  
     <!-- pre populated fields of: 
            user name
            bike number from the selction
            station number from the selection
        we will pretend they cant change them-->
      
      <!-- auto fill in value: <%#= rest of field, value: @current_user.fname %> -->
      <!-- @current_user = User.find_by(id: session[:user_id]) -->
      <div class="field">
        <%= f.label :first_name %><br/>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first name" %>
      </div>
  
      <div class="field">
        <%= f.label :last_name %><br/>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last name" %>
      </div>

      <div class = "start_time">
        <%= f.label :start_time %><br/>
        <%= f.datetime_field :start_time, autofocus: true, autocomplete: "start time" %>
      </div>

      <div class="end_time">
        <%= f.label :end_time %><br/>
        <%= f.datetime_field :start_time, autofocus: true, autocomplete: "end time"  %>
      </div>
      
      <div class="field">
        <%= f.label :start_station %><br/>
        <%= f.collection_select :start_station, Station.all, :id, :name, prompt: "Select Start Station" %>
      </div>
      
      

      <div class="field">
        <%= f.label :end_station %><br/>
        <%= f.collection_select :end_station, Station.all, :id, :name, prompt: "Select End Station" %>
      </div>

      <div class="actions">
        <%= f.submit "Start Rental" %>
      </div>
    
    <% end %>
    <!-- fix the paths-->
    <%# link_to "Back to stations", stations_path %>
    <%# link_to "Back to bikes", bikes_path %> 
    <%= link_to "Pay for ride", new_payment_path%>
  </div>
